option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    PORT: "8080"
    MONGO_URI=mongodb+srv://Samanth:Sunny123@express.jw4z2.mongodb.net/
    JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

